@font-face {
  font-family: 'Sebastian-Light';
  src: local('Sebastian-Light'), url(./Sebastian-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Dessau-Medium';
  src: local('Dessau-Medium'), url(./Dessau-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Dessau-DemiBold';
  src: local('Dessau-DemiBold'), url(./Dessau-DemiBold.ttf) format('truetype');
}