@import './assets/fonts/font.css';
@import 'tailwindcss';
html,
body {
	padding: 0;
}
@theme {
	/* orange color set */
	--color-slugorange-100: #cd861e;
	--color-slugornage-200: #d9420b;
	--color-slugorange-300: #ae3509;

	/* green color set */
	--color-sluggreen-100: #ccd99c;
	--color-sluggreen-200: #8da633;
	--color-sluggreen-300: #798f2c;


	/* blue color set */
	--color-slugblue-100: #3498db;
}

@layer base {
	/* ----------------------HEADERS STYLE------------------ */

	h1,
	h2 {
		font-family: Dessau-Medium, Helvetica, Roboto, Arial, sans-serif !important;
	}

	a,
	h3,
	h4,
	h5,
	h6 {
		font-family: Sebastian-Light, Helvetica, Roboto, Arial, sans-serif;
	}

	h1 {
		font-size: var(--text-2xl);
	}
	h2 {
		font-size: var(--text-5xl);
	}
	h3 {
		font-size: var(--text-3xl);
	}
	/* ---------------------------------------- */
	p,
	button {
		font-family: Sebastian-Light, Helvetica, Roboto, Arial, sans-serif !important;
	}
}
