@import './assets/fonts/font.css';
@import 'tailwindcss';
body {
	padding: 0;
}

@layer base {
	/* ----------------------HEADERS STYLE------------------ */

	h1 {
		font-family: Dessau-Medium, Helvetica, Roboto, Arial, sans-serif;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: Dessau-Medium, Helvetica, Roboto, Arial, sans-serif;
	}
	h1 {
		font-size: var(--text-2xl);
	}
	h2 {
		font-size: var(--text-5xl);
	}
	h3 {
		font-size: var(--text-3xl);
	}
	/* ---------------------------------------- */
	p,
	button {
		font-family: Sebastian-Light, Helvetica, Roboto, Arial, sans-serif !important;
	}
	button {
		/* border: 1px solid white!important; */
		padding: 1rem 2rem !important;
		border-radius: 10px !important;
		font-size: 1rem !important;
	}
	p {
		margin-bottom: 20px;
	}
}
